@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddNewStudent</title>
</head>
<body>
    <div>
        <form action="/Home/DeleteBook" method="Get">
            Title : <input type="text" id="IDTitle" name="title" /> <br />
            <input type="submit" value="Delete book" />
        </form>
    </div>
</body>
</html>