<!DOCTYPE html>
<html>
<body>
    <label for="categoryBrowse">Select linked </label>

    <br>
    <button onclick="loadDoc()">Get links to city</button>
    <br>
    <label>City Links:</label>
    <div name="items" id="items"></div>
    <h4>Select departure city:</h4>

    <form action="/Home/AddDeparture" method="Get">
        Departure city : <input type="text" id="IDTitle" name="departureCity" /> <br />
        <input type="submit" value="Select departure city" />
    </form>

    <form action="/Home/RouteGoBack" method="Get">
        <input type="submit" value="Go back" />
    </form>




    <script>function loadDoc() {
            document.getElementById("items").innerHTML = "";
            $.get("/Home/GetCityLinks", {},
                function (data, status) {
                    $("#items").html(data);
                });
        }</script>

</body>
</html>