<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddNewStudent</title>
</head>
<body>
    <div>
        <form action="/Home/Login" method="Get">
            username : <input type="text" id="IDTitle" name="username" /> <br />
            mother : <input type="text" id="IDTitle" name="mother" /> <br />
            father : <input type="text" id="IDTitle" name="father" /> <br />
            <input type="submit" value="Login" />
        </form>
    </div>
</body>
</html>

