<!DOCTYPE html>
<html>
<body>
    <a>
        @Html.ActionLink("Go back to login", "Index", "Home")
    </a>
    <label for="categoryBrowse">Login succesful!!! </label>
    <a>
        @Html.ActionLink("Go to add section", "AddSection", "Home")
    </a>
    <a>
        @Html.ActionLink("Go to view section", "ViewSection", "Home")
    </a>
</body>
</html>